[Unit]
Description = Running Web App!
ConditionPathExists=/opt/csye6225/webapp-0.0.1-SNAPSHOT.jar
After=cloud-final.target



[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt
ExecStart=/usr/bin/java -jar /opt/csye6225/webapp-0.0.1-SNAPSHOT.jar"


Restart=always
RestartSec=3

[Install]
WantedBy=cloud-init.target